<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>

<body id="my-account">

<header th:replace="fragments::navbar"></header>


<div class="container" style="padding-top: 30px">
    <h3 class="text text-center" th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></h3>

    <div class="row" style="margin-top: 120px">
        <div class="col-md-3">
            <img th:src="@{/img/myaccount.png}" class="img-fluid" style="width: 90%"/>
        </div>
        <div class="col-md-9">
            <div th:if="${emptyList}">
                <h4 class="text text-danger">Oops, nothing was found. Try again.</h4>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Book List</th>
                </tr>
                </thead>
                <tbody>
                <tr class="book-item" th:each="book : ${books}">
                    <td>
                        <div th:if="${book != null}">
                            <div class="row">
                                <div class="col-md-3">
                                    <a th:href="@{/bookDetail?id=} + ${book.id}"><img class="img-fluid" th:src="#{adminPath} + @{/img/book/} + ${book.id} + '.png'"/></a>
                                </div>
                                <div class="col-md-9">
                                    <a th:href="@{/bookDetail?id=} + ${book.id}"><h4 th:text="${book.title}"></h4></a>
                                    <span th:text="${book.publicationDate}"></span>
                                    <p th:text="${book.author}"></p>
                                    <span th:text="${book.format}"></span>
                                    <span th:text="${book.numberOfPages}"> pages</span>
                                    <span style="font-size: large; color:#db3208">$<span
                                            th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                    <span style="text-decoration: line-through">$<span
                                            th:text="${#numbers.formatDecimal(book.listPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                    <p th:text="${#strings.abbreviate(book.description, 500)}"></p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="fragments::scripts"></div>
</body>
</html>