<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>

<body id="my-account">

<header th:replace="fragments::navbar"></header>


<div class="container">
    <div class="text-center" style="margin-top: 30px">
    <h3><span th:text="${#strings.toUpperCase(user.username)}"></span></h3>
    </div>
    <div class="row" style="margin-top: 120px">
        <div class="col-3">
            <img th:src="@{/img/myaccount.png}" class="img-fluid" style="width: 90%"/>
        </div>
        <div class="col-9">
            <!-- Nav Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab"
                       aria-controls="home" aria-selected="true"
                       th:classappend="${classActiveEdit}  ? ' active'">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                       aria-controls="profile" aria-selected="false" th:classappend="${classActiveOrders}  ? ' active'">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab"
                       aria-controls="contact" aria-selected="false"
                       th:classappend="${classActiveBilling}  ? ' active'">Billing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab"
                       aria-controls="contact" aria-selected="false"
                       th:classappend="${classActiveShipping}  ? ' active'">Shipping</a>
                </li>
            </ul>

            <!-- Edit User Information -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show" id="edit" role="tabpanel" aria-labelledby="edit-tab"
                     th:classappend="${classActiveEdit}  ? 'show active'">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/updateUserInfo}" method="post">
                                <input type="hidden" name="id" th:value="${user.id}"/>

                                <div class="alert alert-success" th:if="${updateSuccess}">
                                    <strong>Information Updated</strong></div>
                                <div class="alert alert-danger" th:if="${incorrectPassword}">
                                    <strong>Please enter the correct password for the user.</strong>
                                </div>

                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="firstName"><strong>First Name</strong></label>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                   th:value="${user.firstName}"/>
                                        </div>
                                        <div class="col">
                                            <label for="lastName"><strong>Last Name</strong></label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                   th:value="${user.lastName}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username"><strong>Username</strong></label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           th:value="${user.username}"/>
                                </div>
                                <div class="form-group">
                                    <label for="currentPassword"><strong>Current Password</strong></label>
                                    <input type="text" class="form-control" id="currentPassword" name="password"
                                           th:value="${currentPassword}"/>
                                    <small class="text-mute">Enter your current password to change the email address or
                                        password.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="email"><strong>Email</strong></label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           th:value="${user.email}"/>
                                </div>
                                <div class="form-group">
                                    <label for="txtNewPassword"><strong>Password</strong></label>
                                    <span id="checkPasswordMatch" ></span>
                                    <input type="password" class="form-control" id="txtNewPassword"
                                           name="newPassword" pattern=".{3,}" title="Enter at least 3 characters"/>
                                </div>
                                <div class="form-group">
                                    <label for="txtConfirmPassword"><strong>Confirm Password</strong></label>
                                    <input type="password" class="form-control" id="txtConfirmPassword"
                                           pattern=".{3,}" title="Enter at least 3 characters"/>
                                </div>
                                <button id="updateUserInfoButton" class="btn btn-info" type="submit">Update Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Order History -->
                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab"
                     th:classappend="${classActiveOrders} ? ' show active'">
                    <div class="card">
                        <div class="card-body">

                            <table class="table table-sm table-inverse">
                                <thead>
                                <tr>
                                    <th>Order Date</th>
                                    <th>Order Number</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orderList}">
                                    <td><a th:href="@{/orderDetail(id=${order.id})}"><span
                                            th:text="${order.orderDate}"></span></a></td>
                                    <td data-th-text="${order.id}"></td>
                                    <td data-th-text="${order.orderTotal}"></td>
                                    <td data-th-text="${order.orderStatus}"></td>
                                </tr>
                                </tbody>
                            </table>

                        <!-- Display Order Details -->
                            <div th:if="${displayOrderDetail}">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            <h2>Order Detail for Purchase #<span th:text="${order.id}"></span></h2>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="card-group">
                                                <div class="card">
                                                <div class="card-title text-center"><strong>Billing Details</strong></div>
                                                <div class="card-body">
                                                    <span th:text="${order.billingAddress.billingAddressName}"></span><br/>
                                                    <span th:text="${order.billingAddress.billingAddressStreet1} + ' ' + ${order.billingAddress.billingAddressStreet2}"></span><br/>
                                                    <span th:text="${order.billingAddress.billingAddressCity} + ', ' + ${order.billingAddress.billingAddressState} + ' ' + ${order.billingAddress.billingAddressZipcode}"></span><br/>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="card-group">
                                                <div class="card">
                                                <div class="card-title text-center"><strong>Payment Information</strong></div>
                                                <div class="card-body">
                                                    <span th:text="${order.payment.holderName}"> Card name</span><br/>
                                                    <span th:text="${order.payment.cardNumber}"> Card Number</span><br/>
                                                    <span>Exp. Date: </span><span th:text="${order.payment.expiryMonth} + ' ' + ${order.payment.expiryYear}"></span><br/>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="card-group">
                                                <div class="card">
                                                <div class="card-title text-center"><strong>Shipping Details</strong></div>
                                                <div class="card-body">
                                                    <span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
                                                    <span th:text="${order.shippingAddress.shippingAddressStreet1} + ' ' + ${order.shippingAddress.shippingAddressStreet2}"></span><br/>
                                                    <span th:text="${order.shippingAddress.shippingAddressCity} + ', ' + ${order.shippingAddress.shippingAddressState} + ' ' + ${order.shippingAddress.shippingAddressZipcode}"></span><br/>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-header">
                                            <h3 class="text-center"><strong>Order Summary</strong></h3>
                                        </div>
                                        <div class="card-body">

                                                <table class="table table-dark table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>Item Name</strong></td>
                                                            <th class="text-center"><strong>Item Price</strong></th>
                                                            <th class="text-center"><strong>Item Quantity</strong></th>
                                                            <th class="text-right"><strong>Total</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="cartItem : ${cartItemList}">
                                                            <td data-th-text="${cartItem.book.title}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
                                                            <td class="text-center" data-th-text="${cartItem.qty}"></td>
                                                            <td class="text-right" data-th-text="${cartItem.subTotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td class="highrow"></td>
                                                            <td class="highrow text-center"><strong>Subtotal</strong></td>
                                                            <td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow text-center"><strong>Tax</strong></td>
                                                            <td class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal * 0.06, 0, 2)}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow"></td>
                                                            <td class="emptyrow text-center"><strong>Total</strong></td>
                                                            <td class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal, 0, 2)}"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Billing Information -->
                <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab"
                     th:classappend="${classActiveBilling}  ? 'show active'">
                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards}? 'color: red'">List
                                        of Credit Cards</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color: red'">Add
                                        Credit Card</a>
                                </li>
                            </ol>

                            <!-- List of Credit Cards -->
                            <div th:if="${listOfCreditCards}">
                                <form th:action="@{/setDefaultPayment}" method="post">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Default</th>
                                            <th>Credit Card</th>
                                            <th>Edit/Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userPayment : ${userPaymentList}">
                                            <td>
                                                <input type="radio" name="defaultUserPaymentId"
                                                       th:value="${userPayment.id}"
                                                       th:checked="${userPayment.defaultPayment}"/>
                                            </td>
                                            <td th:text="${userPayment.cardName}">
                                            </td>
                                            <td>
                                                <a th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
                                                        class="fas fa-edit"></i></a>&nbsp; &nbsp; &nbsp;
                                                <a th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
                                                        class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" type="submit">Save</button>
                                </form>
                            </div>

                            <!-- Add new Credit Card -->
                            <div th:if="${addNewCreditCard}">
                                <form th:action="@{/addNewCreditCard}" method="post">
                                    <div class="bg-info" th:if="${updateUserPaymentInfo}">User Payment Updated</div>

                                    <input hidden="hidden" name="id" th:value="${userPayment.id}"/>

                                    <!-- Card Name -->
                                    <div class="form-group">
                                        <h5>* Name for Card</h5>
                                        <input type="text" class="form-control" id="cardName" placeholder="Card Name"
                                               th:name="cardName" required="required"
                                               th:value="${userPayment.cardName}"/>
                                    </div>

                                    <!-- Billing Address -->
                                    <hr/>
                                    <div class="form-group">
                                        <h4>Billing Address</h4>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingName">* Name</label>
                                        <input type="text" class="form-control" id="billingName"
                                               placeholder="First Name Last Name"
                                               th:name="userBillingName" required="required"
                                               th:value="${userBilling.userBillingName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="billingStreet1">* Street Address</label>
                                        <input type="text" class="form-control" id="billingStreet1"
                                               placeholder="Street Address 1"
                                               th:name="userBillingStreet1" required="required"
                                               th:value="${userBilling.userBillingStreet1}"/>
                                        <input type="text" class="form-control" id="billingStreet2"
                                               placeholder="Street Address 2"
                                               th:name="userBillingStreet2"
                                               th:value="${userBilling.userBillingStreet2}"/>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <label for="billingCity">City</label>
                                            <input type="text" class="form-control" id="billingCity" placeholder="City"
                                                   th:name="userBillingCity" required="required"
                                                   th:value="${userBilling.userBillingCity}"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="billingState">State</label>
                                            <select id="billingState" class="form-control" th:name="userBillingState"
                                                    th:value="${userBilling.userBillingState}" required="required">
                                                <option th:each="state : ${stateList}" th:text="${state}"
                                                        th:selected="(${userBilling.userBillingState}==${state})"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="billingZipcode">Zip Code</label>
                                            <input type="text" class="form-control" id="billingZipcode"
                                                   placeholder="Zip Code"
                                                   th:name="userBillingZipcode" required="required"
                                                   th:value="${userBilling.userBillingZipcode}"/>
                                        </div>
                                    </div>

                                    <!-- Credit Card info -->
                                    <hr/>
                                    <div class="form-group">
                                        <h4>Credit Card Information</h4>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12">
                                            <div class="form-row">
                                                <div class="col-sm-4">
                                                    <img th:src="@{/img/creditcards.png}" class="img-fluid"/><br/>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-sm-8">

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="cardType">* Select Card Type: </label>
                                                        <select class="form-control" id="cardType" th:name="type"
                                                                th:value="${userPayment.type}">
                                                            <option value="Visa"
                                                                    th:selected="(${userPayment.type} == 'Visa')">Visa
                                                            </option>
                                                            <option value="Mastercard"
                                                                    th:selected="(${userPayment.type} == 'Mastercard')">
                                                                Mastercard
                                                            </option>
                                                            <option value="American Express"
                                                                    th:selected="(${userPayment.type} == 'American Express')">
                                                                American Express
                                                            </option>
                                                            <option value="Discover"
                                                                    th:selected="(${userPayment.type} == 'Discover')">
                                                                Discover
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-sm-8">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="holderName">* Card Holder Name</label>
                                                <input type="text" class="form-control" id="holderName"
                                                       placeholder="First Name Last Name"
                                                       th:name="holderName" required="required"
                                                       th:value="${userPayment.holderName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="cardNumber">* Card Number</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="cardNumber"
                                                           placeholder="Card Number"
                                                           th:name="cardNumber" required="required"
                                                           th:value="${userPayment.cardNumber}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <label for="expirationDate">* Expiration Date</label>
                                                <div class="form-row">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" id="expirationDate"
                                                                th:name="expiryMonth" required="required"
                                                                th:value="${userPayment.expiryMonth}">
                                                            <option value="01"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Jan (01)')">
                                                                Jan (01)
                                                            </option>
                                                            <option value="02"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Feb (02)')">
                                                                Feb (02)
                                                            </option>
                                                            <option value="03"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Mar (03)')">
                                                                Mar (03)
                                                            </option>
                                                            <option value="04"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Apr (04)')">
                                                                Apr (04)
                                                            </option>
                                                            <option value="05"
                                                                    th:selected="(${userPayment.expiryMonth} == 'May (05)')">
                                                                May (05)
                                                            </option>
                                                            <option value="06"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Jun (06)')">
                                                                Jun (06)
                                                            </option>
                                                            <option value="07"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Jul (07)')">
                                                                Jul (07)
                                                            </option>
                                                            <option value="08"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Aug (08)')">
                                                                Aug (08)
                                                            </option>
                                                            <option value="09"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Sep (09)')">
                                                                Sep (09)
                                                            </option>
                                                            <option value="10"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Oct (10)')">
                                                                Oct (10)
                                                            </option>
                                                            <option value="11"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Nov (11)')">
                                                                Nov (11)
                                                            </option>
                                                            <option value="12"
                                                                    th:selected="(${userPayment.expiryMonth} == 'Dec (12)')">
                                                                Dec (12)
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control"
                                                                th:name="expiryYear" required="required"
                                                                th:value="${userPayment.expiryYear}">
                                                            <option value="2018"
                                                                    th:selected="(${userPayment.expiryYear} == '2018')">
                                                                2018
                                                            </option>
                                                            <option value="2019"
                                                                    th:selected="(${userPayment.expiryYear} == '2019')">
                                                                2019
                                                            </option>
                                                            <option value="2020"
                                                                    th:selected="(${userPayment.expiryYear} == '2020')">
                                                                2020
                                                            </option>
                                                            <option value="2021"
                                                                    th:selected="(${userPayment.expiryYear} == '2021')">
                                                                2021
                                                            </option>
                                                            <option value="2022"
                                                                    th:selected="(${userPayment.expiryYear} == '2022')">
                                                                2022
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="cardCVC">* CVC</label>
                                                <input type="number" class="form-control" id="cardCVC" th:name="cvc"
                                                       required="required" th:value="${userPayment.cvc}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>

                                    <button class="btn btn-success" type="submit">Save</button>
                                    <a class="btn btn-danger" th:href="@{/listOfCreditCards}">Cancel</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Information -->
                <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab"
                     th:classappend="${classActiveShipping}  ? 'show active'">
                    <div class="card">
                        <div class="card-body">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">
                                    <a th:href="@{/listOfShippingAddresses}"
                                       th:style="${listOfShippingAddresses}? 'color: red'">List
                                        of Shipping Addresses</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a th:href="@{/addNewShippingAddress}"
                                       th:style="${addNewShippingAddress}? 'color: red'">Add
                                        Shipping Address</a>
                                </li>
                            </ol>

                            <!-- List of Shipping Addresses -->
                            <div th:if="${listOfShippingAddresses}">
                                <form th:action="@{/setDefaultShippingAddress}" method="post">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Default</th>
                                            <th>Shipping Address</th>
                                            <th>Edit/Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="userShipping : ${userShippingList}">
                                            <td>
                                                <input type="radio" name="defaultShippingAddressId"
                                                       th:value="${userShipping.id}"
                                                       th:checked="${userShipping.userShippingDefault}"/>

                                            </td>
                                            <td th:text="${userShipping.userShippingStreet1} + ', ' + ${userShipping.userShippingCity}
                                                + ', ' + ${userShipping.userShippingState}">
                                            </td>
                                            <td>
                                                <a th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
                                                        class="fas fa-edit"></i></a>&nbsp; &nbsp; &nbsp;
                                                <a th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
                                                        class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" type="submit">Save</button>
                                </form>
                            </div>

                            <!-- Add new Shipping Address -->
                            <div th:if="${addNewShippingAddress}">
                                <form th:action="@{/addNewShippingAddress}" method="post">
                                    <div class="bg-info" th:if="${updateUserShippingInfo}">User Shipping Updated</div>

                                    <input hidden="hidden" name="id" th:value="${userShipping.id}"/>

                                    <!-- Shipping Address -->
                                    <hr/>
                                    <div class="form-group">
                                        <h4>Shipping Address</h4>
                                    </div>
                                    <div class="form-group">
                                        <label for="shippingName">* Name</label>
                                        <input type="text" class="form-control" id="shippingName"
                                               placeholder="First Name Last Name"
                                               th:name="userShippingName" required="required"
                                               th:value="${userShipping.userShippingName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="shippingStreet1">* Street Address</label>
                                        <input type="text" class="form-control" id="shippingStreet1"
                                               placeholder="Street Address 1"
                                               th:name="userShippingStreet1" required="required"
                                               th:value="${userShipping.userShippingStreet1}"/>
                                        <input type="text" class="form-control" id="shippingStreet2"
                                               placeholder="Street Address 2"
                                               th:name="userShippingStreet2"
                                               th:value="${userShipping.userShippingStreet2}"/>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <label for="shippingCity">City</label>
                                            <input type="text" class="form-control" id="shippingCity" placeholder="City"
                                                   th:name="userShippingCity" required="required"
                                                   th:value="${userShipping.userShippingCity}"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="shippingState">State</label>
                                            <select id="shippingState" class="form-control" th:name="userShippingState"
                                                    th:value="${userShipping.userShippingState}" required="required">
                                                <option th:each="state : ${stateList}" th:text="${state}"
                                                        th:selected="(${userShipping.userShippingState}==${state})"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="shippingZipcode">Zip Code</label>
                                            <input type="text" class="form-control" id="shippingZipcode"
                                                   placeholder="Zip Code"
                                                   th:name="userShippingZipcode" required="required"
                                                   th:value="${userShipping.userShippingZipcode}"/>
                                        </div>
                                    </div>
                                    <hr/>

                                    <button class="btn btn-success" type="submit">Save</button>
                                    <a class="btn btn-danger" th:href="@{/listOfShippingAddresses}">Cancel</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<div th:replace="fragments::scripts"></div>
</body>
</html>