<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../resources/static/css/styles.css"/>
    <link rel="stylesheet" th:href="@{/css/carousel.css}" href="../../resources/static/css/carousel.css"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
    <link rel="stylesheet" th:href="@{/css/dataTablesboostrap4.css}" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
</head>

<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img class="img-responsive" id="brand-image" th:src="@{/img/jb-logo1.png}"/>JB's
            Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/bookshelf}" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BOOKS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/bookshelf">Browse Books</a>
                        <a class="dropdown-item" th:href="@{/hours}">Store Hours &#38; Location</a>
                        <a class="dropdown-item" href="#">About</a>
                    </div>
                </li>
                <form class="form-inline mt-2 mt-md-0" th:action="@{/searchBook}" method="post">
                    <input class="form-control" type="text" name="keyword" placeholder="Book Title" aria-label="Search"
                           style="margin-left: 10px; margin-right: 10px"/>
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shoppingCart/cart}">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/login}">My Account</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/myProfile}">My Account</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="footer">
    <br/><br/>
    <footer>
        <div class="row">
            <div class="col-3 footerLeft">
                <div class="logofooter">
                    <a th:href="@{/}"><img th:src="@{/img/jb-logo1.png}" style="width: 200px;" /> </a>
                </div>
                <p style="padding-left: 15px">JB's Books and Writings <br/>Selling new and odd books.</p>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">CONTACT</h6>
                <ul class="post">
                    <p><a href="https://goo.gl/maps/ryCQKEA6oks" ><i class="fas fa-map-marker"></i></a> 123 Road St.<br/>  Springfield, IL 62704</p>
                    <p><i class="fas fa-phone"></i> Phone : 1-888-555-5555</p>
                    <p><i class="fas fa-envelope"></i> E-mail : info@jbbooks.com</p>
                </ul>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Privacy Policy </a></li>
                    <li><a href="#"> Terms &#38; Conditions </a></li>
                    <li><a href="#"> Picture of a Dog </a></li>
                </ul>
            </div>
            <div class="col-3 paddingtop-bottom">
                <h6 class="heading7">COPYRIGHT</h6>
                <ul class="footer-ul">
                    <li>&copy; 2018 - All Rights Reserved</li>     <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Site Map</a></li>

                </ul>
            </div>
        </div>
    </footer>

</div>

<span th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
            integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
            crossorigin="anonymous"></script>
    <script src="https://maps.google.com/maps/api/js"></script>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.js}"></script>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</span>

</body>
</html>